# SQLite. Versions 3.8.0 and up are supported.
#   gem 'activerecord-jdbcsqlite3-adapter'
#
# Configure Using Gemfile
# gem 'activerecord-jdbcsqlite3-adapter'
#
default: &default
  adapter: <%=
    case MovexCdc::Application.config.db_type
      when 'ORACLE' then 'oracle_enhanced'
      when 'SQLITE' then 'sqlite3'
    else
      raise "Unsupported value for MovexCdc::Application.config.db_type: '#{MovexCdc::Application.config.db_type}'"
    end
  %>
  # Ensure connection pool is large enough for number of threads
  #pool: <%= MovexCdc::Application.config.initial_worker_threads + MovexCdc::Application.config.threads_for_api_requests  %>
  # ensure that after increasing MovexCdc::Application.config.initial_worker_threads at runtime the pool is still sufficient
  pool: <%= ENV['RAILS_MAX_THREADS'] %>

  driver: <%=
    case MovexCdc::Application.config.db_type
    when 'ORACLE' then 'oracle.jdbc.driver.OracleDriver'
    end
  %>
  username: <%= MovexCdc::Application.config.db_user %>
  password: <%= MovexCdc::Application.config.db_password %>
  url: <%=
    case MovexCdc::Application.config.db_type
    when 'ORACLE' then "jdbc:oracle:thin:@#{MovexCdc::Application.config.db_url }"
    end
  %>

  cursor_sharing: <%=
    case MovexCdc::Application.config.db_type
    when 'ORACLE' then 'exact'
    end
  %>

development:
  <<: *default

  database: <%=
    case MovexCdc::Application.config.db_type
    when 'SQLITE' then 'db/development.sqlite3'
    end
  %>

# Warning: The database defined as "test" will be erased and
# re-generated from your development database when you run "rake".
# Do not set this db to the same as development or production.
test:
  <<: *default
  database: <%=
    case MovexCdc::Application.config.db_type
    when 'SQLITE' then 'db/test.sqlite3'
    end
  %>

production:
  <<: *default
  database: <%=
    case MovexCdc::Application.config.db_type
    when 'SQLITE' then 'db/production.sqlite3'
    end
  %>

