<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-900">Users</h1>
</div>

<div class="row">
  <table>
    <thead>
    <tr>
      <th>Name</th>
    </tr>
    </thead>

    <tbody>
    <%# users.each do |user| %>
<!--      <tr>-->
<!--        <td><%#= user.name %></td>-->
<!--      </tr>-->
    <%# end %>
    </tbody>
  </table>
</div>
