
// Customize Bulma v1 via Sass variables
@use "bulma/sass" with (
  $primary: #3372a5,
  $link: #3372a5,
  $footer-padding: 0.3rem 0,
  $body-overflow-y: auto,
  $label-weight: 500,
);

// Import Buefy 3.x styles
@use "buefy/src/scss/buefy";


.b-tooltip .tooltip-content {
  white-space: pre; // allow line breaks in tooltip by line break in source line
}
