
// custom definitions
$footer-padding: 0.3rem 0;
$body-overflow-y: auto;

$primary: #3372a5;

$osp-red: #e62314;
$osp-gray: #5f696e;

// Links
$link: $primary;
$link-focus-border: $primary;

// Import Bulma's core
@import "~bulma/sass/utilities/_all";

$label-weight: $weight-medium;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";

.b-tooltip .tooltip-content {
  white-space: pre; // allow line breaks in tooltip by line break in source line
}
