// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// custom definitions
$footer-padding: 0.3rem 0;
$body-overflow-y: auto;

$primary: #3372a5;
$primary-invert: findColorInvert($primary);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";
